html {
  font-size: 10px;
  /*background: url(https://i.imgur.com/b9r5sEL.jpg) bottom center;*/
  background-size: cover;
  background-color: #516185;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  /*border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;*/
  width: 100px;
    height: 100px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 0;
    border-top-right-radius: 50%;
    display: block;
    transition: all .07s ease;
      text-align: center;
        padding: 1rem .5rem;
        margin: 1rem;


    /*background: $ticket-button-active-bgcolor-default;
    border: 1px solid $top-of-book-active-box-shadow-color;
    box-shadow: inset 0 0 1rem $top-of-book-active-box-shadow-color;*/
}

.playing {
  transform: scale(1.2);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
  /*animation: place-order-keyframes .4s linear;
    background-color: $ticket-button-active-bgcolor-default;

    @keyframes place-order-keyframes {
        0% {
            background-color: lighten(saturate($ticket-button-active-bgcolor-default, 90%), 2%);
            box-shadow: 0 0 0 0 rgba($top-of-book-active-box-shadow-color, .8),
                inset 0 0 1rem $ticket-button-active-shadow-default,
                inset 0 0 0 0 rgba($top-of-book-active-box-shadow-color, 1);
        }

        4%, 90% {
            background-color: lighten(saturate($ticket-button-active-bgcolor-default, 90%), 10%);
            box-shadow: 0 0 25px 3px rgba($top-of-book-active-box-shadow-color, .8),
                inset 0 0 0 4px rgba(255, 255, 255, 1),
                inset 0 0 25px 8px lighten(rgba($top-of-book-active-box-shadow-color, 1), 60%);
        }

        100% {
            background-color: $ticket-button-active-bgcolor-default;
            box-shadow: 0 0 0 0 rgba($top-of-book-active-box-shadow-color, .8),
                inset 0 0 1rem $ticket-button-active-shadow-default,
                inset 0 0 0 0 rgba($top-of-book-active-box-shadow-color, 1);
        }
      }*/
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

/*&:hover {
    animation: place-order-keyframes .4s linear;
    background-color: $ticket-button-active-bgcolor-default;

    @keyframes place-order-keyframes {
        0% {
            background-color: lighten(saturate($ticket-button-active-bgcolor-default, 90%), 2%);
            box-shadow: 0 0 0 0 rgba($top-of-book-active-box-shadow-color, .8),
                inset 0 0 1rem $ticket-button-active-shadow-default,
                inset 0 0 0 0 rgba($top-of-book-active-box-shadow-color, 1);
        }

        4%, 90% {
            background-color: lighten(saturate($ticket-button-active-bgcolor-default, 90%), 10%);
            box-shadow: 0 0 25px 3px rgba($top-of-book-active-box-shadow-color, .8),
                inset 0 0 0 4px rgba(255, 255, 255, 1),
                inset 0 0 25px 8px lighten(rgba($top-of-book-active-box-shadow-color, 1), 60%);
        }

        100% {
            background-color: $ticket-button-active-bgcolor-default;
            box-shadow: 0 0 0 0 rgba($top-of-book-active-box-shadow-color, .8),
                inset 0 0 1rem $ticket-button-active-shadow-default,
                inset 0 0 0 0 rgba($top-of-book-active-box-shadow-color, 1);
        }
      }
    }
*/
/*.play {
  animation: place-order-keyframes .4s linear;
    background-color: $ticket-button-active-bgcolor-default;

    @keyframes place-order-keyframes {
        0% {
            background-color: lighten(saturate($ticket-button-active-bgcolor-default, 90%), 2%);
            box-shadow: 0 0 0 0 rgba($top-of-book-active-box-shadow-color, .8),
                inset 0 0 1rem $ticket-button-active-shadow-default,
                inset 0 0 0 0 rgba($top-of-book-active-box-shadow-color, 1);
        }

        4%, 90% {
            background-color: lighten(saturate($ticket-button-active-bgcolor-default, 90%), 10%);
            box-shadow: 0 0 25px 3px rgba($top-of-book-active-box-shadow-color, .8),
                inset 0 0 0 4px rgba(255, 255, 255, 1),
                inset 0 0 25px 8px lighten(rgba($top-of-book-active-box-shadow-color, 1), 60%);
        }

        100% {
            background-color: $ticket-button-active-bgcolor-default;
            box-shadow: 0 0 0 0 rgba($top-of-book-active-box-shadow-color, .8),
                inset 0 0 1rem $ticket-button-active-shadow-default,
                inset 0 0 0 0 rgba($top-of-book-active-box-shadow-color, 1);
        }
      }
}
*/
/*Style - https://codepen.io/adamskye/pen/QNryLa?editors=0110*/